<div class="main">
    <div class="filter">
        <form novalidate ng-submit="loadProducts()">
            <div class="form-floating input-group-sm">
                <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title_part">
                <label for="filterTitle">Title</label>
            </div>
            <p></p>
            <div class="form-floating input-group-sm">
                <input type="number" class="form-control" id="filterMinPrice" placeholder="" ng-model="filter.min_price">
                <label for="filterMinPrice">MIN price</label>
            </div>
            <p></p>
            <div class="form-floating input-group-sm">
                <input type="number" class="form-control" id="filterMaxPrice" placeholder="" ng-model="filter.max_price">
                <label for="filterMaxPrice">MAX price</label>
            </div>
            <p></p>
            <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Filter</button>
        </form>
    </div>

    <div class="products">
        <h3>All Products</h3>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Price</td>
                <td>Add to Cart</td>
                <td>Delete</td>
            </tr>
            <tbody>
            <tr ng-repeat="p in ProductsPage.content">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
                <td>{{p.price}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="addToCart(p.id)">Add to Cart</button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteProduct(p.id)">DELETE</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<br>
<span class="pages">
            <button class="btn btn-primary" ng-click="loadProductsDefault()">Default Page</button>
        </span>
</div>